<div *ngIf="isLoading" class="preloader d-flex flex-column align-items-center justify-content-center vh-100">
  <div class="text-center">
    <div class="mb-3">
      <img src="logo.png" class="img-fluid w-25" alt="SoilTrack PNSA Logo">
    </div>
    <h1 class="animated-name">SoilTrack-PNSA</h1>
  </div>
</div>

<div *ngIf="!isLoading">



  <nav class="navbar navbar-expand-lg navbar-light  bg-success" style=" box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);">
    <div class="container d-flex justify-content-between">
      <a class="navbar-brand p-0 m-0 d-flex align-items-center" href="#">
        <img src="logo.png" alt="SoilTrack Logo" width="70" height="70" class="me-2">
        <h1 class="fw-bold mt-1 mb-0" style="color: #fafafaf5; font-family: Arial, sans-serif; font-size: 30px;">
          S<span>o</span>ilTrack</h1>
      </a>
      <a class="navbar-brand p-0 m-0 d-flex align-items-center" href="#">
        <img src="pnsa.png" alt="Otro Logo" width="60" height="60" class="ms-2">
      </a>
    </div>
  </nav>
 <div class="w-100 d-flex justify-content-end m-2">
  <button type="button"class="btn " (click)="contentInfo()">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-info-circle text-success" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
      <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
    </svg>
  </button>

 </div>


  <div class="container mt-5 d-flex justify-content-center p-3" >
    <div class="row w-100 justify-content-center  ">
      <div>
        <h1 class="text-center mb-4 fw-bold text" style="font-size: 40px;">¿Qué puedo plant<span>a</span>r?</h1>
      </div>
      <div class="col-md-12 col-lg-10">
        <div class="card p-4 bg-light" style="box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);">
          <div class="text-center">
            <img src="cientifico.png" class="my-2" style="width: 170px; height: 150px;" alt="Científico">
          </div>
          <div class="row">
            <div class="col-12 col-lg-6 mb-3">
              <label for="temperatura" class="form-label fw-bold text">Temperatura (°C):</label>
              <div class="input-group">
                <div class="input-group-text">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-thermometer" viewBox="0 0 16 16">
                    <path d="M8 14a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3" />
                    <path
                      d="M8 0a2.5 2.5 0 0 0-2.5 2.5v7.55a3.5 3.5 0 1 0 5 0V2.5A2.5 2.5 0 0 0 8 0M6.5 2.5a1.5 1.5 0 1 1 3 0v7.987l.167.15a2.5 2.5 0 1 1-3.333 0l.166-.15z" />
                  </svg>
                </div>
                <input type="number" id="temperatura " [(ngModel)]="temperatura" class="form-control form-control-lg"
                  placeholder="Ej. 25">
              </div>
            </div>
            <div class="col-lg-6 mb-3">
              <label for="humeda" class="form-label fw-bold text">Humedad (%):</label>
              <div class="input-group">
                <div class="input-group-text">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-droplet-half" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M7.21.8C7.69.295 8 0 8 0q.164.544.371 1.038c.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8m.413 1.021A31 31 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10c0 0 2.5 1.5 5 .5s5-.5 5-.5c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z" />
                    <path fill-rule="evenodd"
                      d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87z" />
                  </svg>
                </div>
                <input type="number" id="humeda" [(ngModel)]="humeda" class="form-control form-control-lg"
                  placeholder="Ej. 70">
              </div>
            </div>
            <div class="col-lg-12 mb-3">
              <label for="ph" class="form-label fw-bold text">pH:</label>
              <div class="input-group">
                <div class="input-group-text">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-droplet-fill" viewBox="0 0 16 16">
                    <path
                      d="M8 16a6 6 0 0 0 6-6c0-1.655-1.122-2.904-2.432-4.362C10.254 4.176 8.75 2.503 8 0c0 0-6 5.686-6 10a6 6 0 0 0 6 6M6.646 4.646l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448c.82-1.641 1.717-2.753 2.093-3.13" />
                  </svg>

                </div>
                <input type="number" id="ph" [(ngModel)]="ph" class="form-control form-control-lg"
                  placeholder="Ej. 6.5">
              </div>
            </div>
          </div>

          <div class="text-center">
            <button (click)="TestGemini()" class="btn btn-lg w-100 mb-4 bg-success text-light ">Buscar</button>
          </div>
          <p class="text-center text fw-bold  fs-3" *ngIf="showResults">Descubre el contenido en cada cajita</p>

          <div class="accordion " id="resultAccordion" *ngIf="showResults">
            <div class="accordion-item">
              <h2 class="accordion-header" id="frutasHeading">
                <button class="accordion-button collapsed   text-light fw-bold" style="background-color: #e66305d7;"
                  type="button" data-bs-toggle="collapse" data-bs-target="#frutasCollapse" aria-expanded="false"
                  aria-controls="frutasCollapse">
                  Abrir frutas
                </button>
              </h2>
              <div id="frutasCollapse" class="accordion-collapse collapse" aria-labelledby="frutasHeading"
                data-bs-parent="#resultAccordion">
                <div class="accordion-body">
                  <p *ngIf="resultFrutas()">
                  <p *ngFor="let item of resultFrutas().split('\n')">{{ item }}
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item ">
              <h2 class="accordion-header" id="verdurasHeading">
                <button class="accordion-button collapsed bg-success text-light fw-bold" type="button"
                  data-bs-toggle="collapse" data-bs-target="#verdurasCollapse" aria-expanded="false"
                  aria-controls="verdurasCollapse">
                  Abrir vegetales
                </button>
              </h2>
              <div id="verdurasCollapse" class="accordion-collapse collapse" aria-labelledby="verdurasHeading"
                data-bs-parent="#resultAccordion">
                <div *ngIf="resultVerduras()" class="p-4">
                  <p *ngFor="let item of resultVerduras().split('\n')">{{ item }}</p>
                </div>
              </div>
            </div>
<!-- 
            <div class="accordion-item">
              <h2 class="accordion-header" id="consejo">
                <button class="accordion-button collapsed bg-primary text-light fw-bold" type="button"
                  data-bs-toggle="collapse" data-bs-target="#consejoContent" aria-expanded="false"
                  aria-controls="consejoContent">
                  Abre tu mensajito de SoilTrack :)
                </button>
              </h2>

              <div id="consejoContent" class="accordion-collapse collapse" aria-labelledby="consejo"
                data-bs-parent="#resultAccordion">
                <div *ngIf="consejo()" class="p-4">
                  <p *ngFor="let item of consejo().split('\n')" class="fs-5">{{ item }}</p>
                </div>
              </div>
            </div> -->

          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="bg-light text-center text-lg-start shadow-lg mt-5 py-3">
    <div class="text-center">
      <p class="mb-0">© 2024 SoilTrack - PNSA 6toB | Programador:Tracy Jesús Alberto</p>
      <a href="https://wa.me/8295057941" class="text-dark">Contacto</a>
    </div>
  </footer>
</div>