
<nav class="navbar bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="#">
      <div>
        
      <img class="w-25 h-25" src="https://pnsa.milaulas.com/pluginfile.php/1/core_admin/logo/0x200/1728180038/Logo%20PNSA%20Redesign%202.png" alt="Bootstrap" width="30" height="24">
            PNSA
      </div>
    </a> 
  </div>
</nav>
<div class="container mt-5 d-flex justify-content-center">
    <div class="row w-100 justify-content-center">
      <h1 class="text-center mb-4">¿Qué puedo plantar?</h1>
  
      <div class="col-md-6">
        <div class="card p-3">
          <div class="row mb-3">
            <div class="col-12 mb-3">
              <label for="temperatura" class="form-label">Temperatura (°C):</label>
              <input type="text" id="temperatura" [(ngModel)]="temperatura" class="form-control" placeholder="Ej. 25">
            </div>
            <div class="col-12 mb-3">
              <label for="humeda" class="form-label">Humedad (%):</label>
              <input type="text" id="humeda" [(ngModel)]="humeda" class="form-control" placeholder="Ej. 70">
            </div>
            <div class="col-12 mb-3">
              <label for="ph" class="form-label">pH:</label>
              <input type="text" id="ph" [(ngModel)]="ph" class="form-control" placeholder="Ej. 6.5">
            </div>
          </div>
  
          <div class="text-center">
            
            <button (click)="TestGemini()" class="btn btn-success w-100 mb-4">Buscar</button>

          </div>
  
          <div class="row">
            <div class="col-12 mb-3">
              <div *ngIf="resultFrutas()" class="alert alert-info text-center">
                <h2 class="h5">Frutas:</h2>
                <p>{{ resultFrutas() }}</p>
              </div>
            </div>
            <div class="col-12 mb-3">
              <div *ngIf="resultVerduras()" class="alert alert-info text-center">
                <h2 class="h5">Vegetacion:</h2>
                <p>{{ resultVerduras() }}</p>
              </div>
            </div>
            <div class="col-12 mb-3">
              <div *ngIf="resultPlantas()" class="alert alert-info text-center">
                <h2 class="h5">Recomendaciones:</h2>
                <p>{{ resultPlantas() }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  